// .main-block{
//     color: red;
// }
body {
  font-family: "Zen Kaku Gothic New", "Helvetica Neue", "Helvetica",
    "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo",
    sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  color: #363636;
  background-color: #fff;
}

.title{
    font-size: 44px;
    text-align: center;
}
.faq-wrap{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(214, 214, 214);
    .qa-list{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .qa-box{
            padding: 30px 120px 50px 110px;
            background-color: #ffffff;
            border-radius: 10px;
            font-size: 20px;
            font-weight: 700;
        .q-item{
            margin-bottom: 40px;
            position: relative;
            &::before{
                content: "Q";
                position: absolute;
                left: -60px;
                color: #0093FF;
            }
        }
        .a-item{
            position: relative;
            &::before{
                content: "A";
                position: absolute;
                left: -60px;
                color: #F88F00;
            }
        }
        }
    }

    color: #000000;
    dd{
        margin: 0;
    }
}