.nav-qulmee {
  width: 95%;
  max-width: 1600px;
  border-radius: 10px;
  margin: -25px auto 0 auto;
  position: relative;
  z-index: 2;
  background-color: #60b5ff;
  display: flex;
  padding: 22px 40px;
  font-size: clamp(0.9vw, 18px, 1.2vw);
  gap: clamp(1vw, 20px, 2vw);
  justify-content: space-between;
  align-items: center;
  @include mq {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: vw(18);
    margin: 0;
    padding: 0;
    border-radius: 0;
    height: vw(47);
  }
  .logo {
    padding-top: 0;
    width: 9vw;
    @include mq {
      width: vw(111);
      left: vw(11);
    }
  }
  .sp-menu-open {
    display: none;
    @include mq {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: vw(22);
      position: absolute;
      right: vw(14);
      top: vw(13);
    }
    em {
      display: block;
      width: vw(24);
      height: vw(4);
      background-color: #fff;
    }
  }
  .menu {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 12vw);
    @include mq {
      display: none;
      position: absolute;
      width: 100%;
      background-color: #60b5ff;
      top: 11vw;
      height: 100vh;
      &.show{display: block;}

    }
  }
  .menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    @include mq {
      display: block;
      width: 100%;
      padding: vw(80) vw(30);
    }
    li {
      list-style: none;
      @include mq{
        & + li{margin-top: vw(35);}
      }
      a {
        color: #fff;
        font-weight: bold;
      }
    }
  }
  .btns {
    display: flex;
    width: 22vw;
    flex-shrink: 0;
    gap: 7px;
    @include mq{
      width: 100%;
      padding: vw(0) vw(20);
      justify-content: center;
    }
    .u-button {
      width: clamp(7vw, 165px, 13vw);
      font-size: clamp(0.9vw, 16px, 1.2vw);
      padding: 0.5em 0;
      @include mq{
        width: 48%;
        font-size: vw(16);
        
            box-shadow: none !important;
      }
    }
  }
}
