.qulmee {
  font-weight: 500;
  font-size: 18px;
  color: #050000;
}
.qulmee .qulmee-content * {
  font-family: Zen Kaku Gothic New, sans-serif;
}
.qulmee .main-block {
  background-image: url("/assets/img/main/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .qulmee .main-block {
    background-image: url("/assets/img/main/bg-sp.svg");
  }
}
.qulmee .main-block .main-inner {
  max-width: 1400px;
  margin: 0 auto;
  width: 85%;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 152px;
}
@media screen and (max-width: 767px) {
  .qulmee .main-block .main-inner {
    padding-top: 28.7179487179vw;
    width: 90%;
    flex-direction: column;
    padding-bottom: 7.6923076923vw;
  }
}
.qulmee .main-block .main-inner .text {
  width: 65%;
}
@media screen and (max-width: 767px) {
  .qulmee .main-block .main-inner .text {
    width: auto;
    display: contents;
  }
}
.qulmee .main-block .main-inner .text .logo {
  position: relative;
  left: -5%;
  top: -10%;
}
@media screen and (max-width: 767px) {
  .qulmee .main-block .main-inner .text .logo {
    display: none;
  }
}
.qulmee .main-block .main-inner .catch {
  font-size: clamp(3vw, 68px, 4vw);
  font-weight: bold;
  color: #050000;
  letter-spacing: 0.1em;
  line-height: 1.8;
}
@media screen and (max-width: 767px) {
  .qulmee .main-block .main-inner .catch {
    font-size: 7.15vw;
    letter-spacing: 0;
    position: relative;
    right: -2vw;
    order: 1;
    margin: 0;
    margin-bottom: 19.2307692308vw;
  }
}
.qulmee .main-block .main-inner .catch strong {
  color: #60b5ff;
}
.qulmee .main-block .main-inner .img {
  width: 31.9285714286%;
  position: relative;
}
@media screen and (max-width: 767px) {
  .qulmee .main-block .main-inner .img {
    width: 61.5384615385vw;
    margin: 0 auto;
    order: 2;
  }
}
.qulmee .main-block .main-inner .img img {
  width: 100%;
  height: auto;
}
.qulmee .main-block .main-inner .img .badges {
  position: absolute;
  right: -7%;
  top: -10%;
  display: flex;
  gap: 7px;
  width: clamp(3vw, 329px, 19vw);
  list-style: none;
}
@media screen and (max-width: 767px) {
  .qulmee .main-block .main-inner .img .badges {
    width: 55.8974358974vw;
    right: -24%;
    top: -11%;
  }
}
.qulmee .main-block .main-inner .btns {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 17px;
  order: 3;
}
@media screen and (max-width: 767px) {
  .qulmee .main-block .main-inner .btns {
    flex-direction: column;
    width: 74.8717948718vw;
    margin: 0 auto;
    gap: 2.5641025641vw;
  }
}
.qulmee .main-block .main-inner .btns .u-button {
  width: clamp(7vw, 292px, 20vw);
  font-size: clamp(0.9vw, 18px, 1.4vw);
}
@media screen and (max-width: 767px) {
  .qulmee .main-block .main-inner .btns .u-button {
    width: 100%;
    font-size: 4.1025641026vw;
  }
}
.qulmee .nav-qulmee {
  width: 95%;
  max-width: 1600px;
  border-radius: 10px;
  margin: -25px auto 0 auto;
  position: relative;
  z-index: 2;
  background-color: #60b5ff;
  display: flex;
  padding: 22px 40px;
  font-size: clamp(0.9vw, 18px, 1.2vw);
  gap: clamp(1vw, 20px, 2vw);
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .qulmee .nav-qulmee {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 4.6153846154vw;
    margin: 0;
    padding: 0;
    border-radius: 0;
    height: 12.0512820513vw;
  }
}
.qulmee .nav-qulmee .logo {
  padding-top: 0;
  width: 9vw;
}
@media screen and (max-width: 767px) {
  .qulmee .nav-qulmee .logo {
    width: 28.4615384615vw;
    left: 2.8205128205vw;
  }
}
.qulmee .nav-qulmee .sp-menu-open {
  display: none;
}
@media screen and (max-width: 767px) {
  .qulmee .nav-qulmee .sp-menu-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5.641025641vw;
    position: absolute;
    right: 3.5897435897vw;
    top: 3.3333333333vw;
  }
}
.qulmee .nav-qulmee .sp-menu-open em {
  display: block;
  width: 6.1538461538vw;
  height: 1.0256410256vw;
  background-color: #fff;
}
.qulmee .nav-qulmee .menu {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 12vw);
}
@media screen and (max-width: 767px) {
  .qulmee .nav-qulmee .menu {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #60b5ff;
    top: 11vw;
    height: 100vh;
  }
  .qulmee .nav-qulmee .menu.show {
    display: block;
  }
}
.qulmee .nav-qulmee .menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50vw;
}
@media screen and (max-width: 767px) {
  .qulmee .nav-qulmee .menu ul {
    display: block;
    width: 100%;
    padding: 20.5128205128vw 7.6923076923vw;
  }
}
.qulmee .nav-qulmee .menu ul li {
  list-style: none;
}
@media screen and (max-width: 767px) {
  .qulmee .nav-qulmee .menu ul li + li {
    margin-top: 8.9743589744vw;
  }
}
.qulmee .nav-qulmee .menu ul li a {
  color: #fff;
  font-weight: bold;
}
.qulmee .nav-qulmee .btns {
  display: flex;
  width: 22vw;
  flex-shrink: 0;
  gap: 7px;
}
@media screen and (max-width: 767px) {
  .qulmee .nav-qulmee .btns {
    width: 100%;
    padding: 0vw 5.1282051282vw;
    justify-content: center;
  }
}
.qulmee .nav-qulmee .btns .u-button {
  width: clamp(7vw, 165px, 13vw);
  font-size: clamp(0.9vw, 16px, 1.2vw);
  padding: 0.5em 0;
}
@media screen and (max-width: 767px) {
  .qulmee .nav-qulmee .btns .u-button {
    width: 48%;
    font-size: 4.1025641026vw;
    box-shadow: none !important;
  }
}
.qulmee .main-block {
  color: red;
}
.qulmee .main-block {
  color: red;
}
.qulmee .main-block {
  color: red;
}
.qulmee .faq-block {
  padding: 190px 25px;
  background-color: #EBF6FD;
  color: #000000;
}
@media screen and (max-width: 767px) {
  .qulmee .faq-block {
    padding: 25.641025641vw 6.4102564103vw;
  }
}
.qulmee .faq-block .qa-list {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .qulmee .faq-block .qa-list {
    gap: 5.1282051282vw;
  }
}
.qulmee .faq-block .qa-list .qa-box {
  padding: 35px 120px 35px 110px;
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 2.2;
}
@media screen and (max-width: 767px) {
  .qulmee .faq-block .qa-list .qa-box {
    padding: 6.4102564103vw 10.2564102564vw;
    font-size: 3.5897435897vw;
  }
}
.qulmee .faq-block .qa-list .qa-box .q-item {
  position: relative;
  font-family: "Noto Sans JP";
}
.qulmee .faq-block .qa-list .qa-box .q-item::before {
  content: "Q";
  position: absolute;
  left: -60px;
  color: #0093FF;
  font-size: 26px;
}
@media screen and (max-width: 767px) {
  .qulmee .faq-block .qa-list .qa-box .q-item::before {
    font-size: 5.1282051282vw;
    top: -10%;
    left: -10%;
  }
}
.qulmee .faq-block .qa-list .qa-box .q-item::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 24px;
  -webkit-mask-image: url(/assets/img/faq/icon-close.svg);
          mask-image: url(/assets/img/faq/icon-close.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: #EAEAEA;
  position: absolute;
  right: -60px;
  transform: rotate(90deg);
}
@media screen and (max-width: 767px) {
  .qulmee .faq-block .qa-list .qa-box .q-item::after {
    width: 3.3333333333vw;
    height: 7.6923076923vw;
    top: 0%;
    right: -7%;
  }
}
.qulmee .faq-block .qa-list .qa-box .a-item {
  display: none;
  margin-top: 40px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .qulmee .faq-block .qa-list .qa-box .a-item {
    margin-top: 10.2564102564vw;
  }
}
.qulmee .faq-block .qa-list .qa-box .a-item::before {
  content: "A";
  position: absolute;
  left: -60px;
  color: #F88F00;
  font-size: 26px;
}
@media screen and (max-width: 767px) {
  .qulmee .faq-block .qa-list .qa-box .a-item::before {
    font-size: 5.1282051282vw;
    top: -4%;
    left: -10%;
  }
}
.qulmee .faq-block .qa-list .open-qa {
  position: absolute;
  cursor: n-resize;
  opacity: 0;
}
.qulmee .faq-block #open-qa01:checked + label .a-item,
.qulmee .faq-block #open-qa02:checked + label .a-item,
.qulmee .faq-block #open-qa03:checked + label .a-item,
.qulmee .faq-block #open-qa04:checked + label .a-item,
.qulmee .faq-block #open-qa05:checked + label .a-item,
.qulmee .faq-block #open-qa06:checked + label .a-item,
.qulmee .faq-block #open-qa07:checked + label .a-item {
  display: block;
}
.qulmee .faq-block #open-qa01:checked + label .q-item::after,
.qulmee .faq-block #open-qa02:checked + label .q-item::after,
.qulmee .faq-block #open-qa03:checked + label .q-item::after,
.qulmee .faq-block #open-qa04:checked + label .q-item::after,
.qulmee .faq-block #open-qa05:checked + label .q-item::after,
.qulmee .faq-block #open-qa06:checked + label .q-item::after,
.qulmee .faq-block #open-qa07:checked + label .q-item::after {
  transform: rotate(270deg);
}
@media screen and (max-width: 767px) {
  .qulmee .faq-block #open-qa01:checked + label .q-item::after,
  .qulmee .faq-block #open-qa02:checked + label .q-item::after,
  .qulmee .faq-block #open-qa03:checked + label .q-item::after,
  .qulmee .faq-block #open-qa04:checked + label .q-item::after,
  .qulmee .faq-block #open-qa05:checked + label .q-item::after,
  .qulmee .faq-block #open-qa06:checked + label .q-item::after,
  .qulmee .faq-block #open-qa07:checked + label .q-item::after {
    right: -10%;
  }
}
.qulmee .faq-block dd {
  margin: 0;
}
.qulmee .main-block {
  color: red;
}
.qulmee .main-block {
  background-image: url("/assets/img/main/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .qulmee .main-block {
    background-image: url("/assets/img/main/bg-sp.svg");
  }
}
.qulmee .main-block .main-inner {
  max-width: 1400px;
  margin: 0 auto;
  width: 85%;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 152px;
}
@media screen and (max-width: 767px) {
  .qulmee .main-block .main-inner {
    padding-top: 28.7179487179vw;
    width: 90%;
    flex-direction: column;
    padding-bottom: 7.6923076923vw;
  }
}
.qulmee .main-block .main-inner .text {
  width: 65%;
}
@media screen and (max-width: 767px) {
  .qulmee .main-block .main-inner .text {
    width: auto;
    display: contents;
  }
}
.qulmee .main-block .main-inner .text .logo {
  position: relative;
  left: -5%;
  top: -10%;
}
@media screen and (max-width: 767px) {
  .qulmee .main-block .main-inner .text .logo {
    display: none;
  }
}
.qulmee .main-block .main-inner .catch {
  font-size: clamp(3vw, 68px, 4vw);
  font-weight: bold;
  color: #050000;
  letter-spacing: 0.1em;
  line-height: 1.8;
}
@media screen and (max-width: 767px) {
  .qulmee .main-block .main-inner .catch {
    font-size: 7.15vw;
    letter-spacing: 0;
    position: relative;
    right: -2vw;
    order: 1;
    margin: 0;
    margin-bottom: 19.2307692308vw;
  }
}
.qulmee .main-block .main-inner .catch strong {
  color: #60b5ff;
}
.qulmee .main-block .main-inner .img {
  width: 31.9285714286%;
  position: relative;
}
@media screen and (max-width: 767px) {
  .qulmee .main-block .main-inner .img {
    width: 61.5384615385vw;
    margin: 0 auto;
    order: 2;
  }
}
.qulmee .main-block .main-inner .img img {
  width: 100%;
  height: auto;
}
.qulmee .main-block .main-inner .img .badges {
  position: absolute;
  right: -7%;
  top: -10%;
  display: flex;
  gap: 7px;
  width: clamp(3vw, 329px, 19vw);
  list-style: none;
}
@media screen and (max-width: 767px) {
  .qulmee .main-block .main-inner .img .badges {
    width: 55.8974358974vw;
    right: -24%;
    top: -11%;
  }
}
.qulmee .main-block .main-inner .btns {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 17px;
  order: 3;
}
@media screen and (max-width: 767px) {
  .qulmee .main-block .main-inner .btns {
    flex-direction: column;
    width: 74.8717948718vw;
    margin: 0 auto;
    gap: 2.5641025641vw;
  }
}
.qulmee .main-block .main-inner .btns .u-button {
  width: clamp(7vw, 292px, 20vw);
  font-size: clamp(0.9vw, 18px, 1.4vw);
}
@media screen and (max-width: 767px) {
  .qulmee .main-block .main-inner .btns .u-button {
    width: 100%;
    font-size: 4.1025641026vw;
  }
}
.qulmee .main-block {
  color: red;
}
.qulmee .news-block {
  padding: 180px 25px 110px;
  background-image: url("/assets/img/news/bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .qulmee .news-block {
    padding: 15.3846153846vw 6.4102564103vw;
  }
}
.qulmee .news-block .news-inner {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .qulmee .news-block .news-inner {
    display: block;
  }
}
.qulmee .news-block .news-inner .title {
  width: 25.8571428571%;
}
@media screen and (max-width: 767px) {
  .qulmee .news-block .news-inner .title {
    width: auto;
    margin-bottom: 10.2564102564vw;
  }
}
.qulmee .news-block .news-inner .news-content {
  width: 74.1428571429%;
  display: flex;
  gap: 5%;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .qulmee .news-block .news-inner .news-content {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 7.6923076923vw;
  }
}
.qulmee .news-block .news-inner .news-content img {
  border-radius: 20px;
  width: 100%;
}
.qulmee .news-block .news-inner .news-content .date {
  color: #60b5ff;
  font-size: 16px;
  margin: 1em 0 0.5em;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .qulmee .news-block .news-inner .news-content .date {
    font-size: 3.0769230769vw;
  }
}
.qulmee .news-block .news-inner .news-content .description {
  line-height: 1.6;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .qulmee .news-block .news-inner .news-content .description {
    font-size: 3.5897435897vw;
  }
}
.qulmee .main-block {
  color: red;
}
.qulmee .price-block .plan-ul {
  max-width: 1330px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 105px;
}
.qulmee .price-block .plan-ul .plan-li {
  padding: 55px 60px;
  border-radius: 20px;
  border: 1px solid #C7C7C7;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.qulmee .price-block .plan-ul .plan-li .entry {
  width: 374px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #60B5FF;
  color: #ffffff;
  border-radius: 50px;
  font-size: 27px;
  font-weight: 700;
}
.qulmee .price-block .plan-ul .plan-li .plan-dl {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.qulmee .price-block .plan-ul .plan-li .plan-dl .year {
  width: 50%;
}
.qulmee .price-block .plan-ul .plan-li .plan-dl .enn {
  width: 50%;
  margin: 0;
}
.qulmee .price-block .plan-ul .plan-li .plan-table .th01 {
  width: 60%;
}
.qulmee .price-block .plan-ul .plan-li .plan-table .td01 {
  width: 40%;
}
.qulmee .price-block .plan-ul .plan-li .plan-table th, .qulmee .price-block .plan-ul .plan-li .plan-table td {
  text-align: center;
}
.qulmee .price-block .plan-ul .plan-li .plan-table tr th {
  padding: 28;
}
.qulmee .main-block {
  color: red;
}
.qulmee .trial-block {
  padding: 250px 25px 120px 25px;
  background-image: url("/assets/img/trial/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .qulmee .trial-block {
    padding: 35.8974358974vw 6.4102564103vw 53.8461538462vw 6.4102564103vw;
    background-image: url("/assets/img/trial/bg-sp.png");
  }
}
.qulmee .trial-block .trial-contents {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
}
@media screen and (max-width: 767px) {
  .qulmee .trial-block .trial-contents {
    grid-template-columns: 1fr;
    gap: 20%;
  }
}
.qulmee .trial-block .trial-contents .trial-group {
  padding: 70px 20px 50px 20px;
  background-color: #ffffff;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .qulmee .trial-block .trial-contents .trial-group {
    padding: 15.3846153846vw 6.4102564103vw 8.9743589744vw 6.4102564103vw;
  }
}
.qulmee .trial-block .trial-contents .trial-group .pcsp-img,
.qulmee .trial-block .trial-contents .trial-group .materials-img {
  position: absolute;
  top: -40%;
  left: 50%;
  transform: translate(-50%, 0);
}
@media screen and (max-width: 767px) {
  .qulmee .trial-block .trial-contents .trial-group .pcsp-img,
  .qulmee .trial-block .trial-contents .trial-group .materials-img {
    top: -30%;
  }
}
@media screen and (max-width: 767px) {
  .qulmee .trial-block .trial-contents .trial-group .pcsp-img {
    width: 53.8461538462vw;
  }
}
@media screen and (max-width: 767px) {
  .qulmee .trial-block .trial-contents .trial-group .materials-img {
    width: 29.4871794872vw;
  }
}
.qulmee .trial-block .trial-contents .trial-group .more {
  margin-bottom: 35px;
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  .qulmee .trial-block .trial-contents .trial-group .more {
    margin-bottom: 8.9743589744vw;
    font-size: 4.6153846154vw;
  }
}
@media screen and (max-width: 767px) {
  .qulmee .trial-block .trial-contents .trial-group .u-button {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .qulmee .login {
    display: none;
  }
}
.qulmee li {
  list-style: none;
}
.qulmee .header {
  height: 60px;
  box-shadow: none;
}
@media screen and (max-width: 767px) {
  .qulmee .header {
    display: none;
  }
}
.qulmee .header .menuBtn {
  display: none;
}
.qulmee .header .gNav {
  display: none;
}
.qulmee h2.title {
  text-align: center;
  margin-bottom: 90px;
}
@media screen and (max-width: 767px) {
  .qulmee h2.title {
    margin-bottom: 15.3846153846vw;
  }
}
.qulmee h2.title .en {
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 900;
  color: #49b2f4;
  display: block;
}
@media screen and (max-width: 767px) {
  .qulmee h2.title .en {
    margin-bottom: 3.8461538462vw;
    font-size: 5.1282051282vw;
  }
}
.qulmee h2.title .en::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 18px;
  margin-right: 10px;
  -webkit-mask-image: url("/assets/img/title-detail.svg");
          mask-image: url("/assets/img/title-detail.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: #49b2f4;
}
@media screen and (max-width: 767px) {
  .qulmee h2.title .en::before {
    width: 6.4102564103vw;
    height: 4.6153846154vw;
  }
}
.qulmee h2.title .jp {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 44px;
  color: #050000;
}
@media screen and (max-width: 767px) {
  .qulmee h2.title .jp {
    font-size: 6.6666666667vw;
  }
}
.qulmee .u-button {
  display: flex;
  width: 292px;
  padding: 0.7em 0;
  font-size: 18px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  border: 3px solid #ff9149;
  background-color: #ff9149;
  color: #fff;
}
.qulmee .u-button.download {
  background-color: #fff;
  color: #ff9149;
}
.qulmee .u-button.white {
  border-color: #FFF;
  background-color: #FFF;
  color: #49b2f4;
  font-weight: bold;
}
.qulmee .u-button.bd {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
  font-weight: bold;
}/*# sourceMappingURL=qulmee2025.css.map */