.qulmee {
  font-weight: 500;
  font-size: 18px;
  color: #050000;
}
.qulmee .qulmee-content * {
  font-family: Zen Kaku Gothic New, sans-serif;
}
.qulmee .main-block {
  background-image: url("/assets/img/main/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.qulmee .main-block .main-inner {
  max-width: 1400px;
  margin: 0 auto;
  width: 85%;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 152px;
}
.qulmee .main-block .main-inner .text {
  width: 63%;
}
.qulmee .main-block .main-inner .text .logo {
  position: relative;
  left: -5%;
  top: -10%;
}
.qulmee .main-block .main-inner .img {
  width: 31.9285714286%;
  position: relative;
}
.qulmee .main-block .main-inner .img img {
  width: 100%;
  height: auto;
}
.qulmee .main-block .main-inner .img .badges {
  position: absolute;
  right: -7%;
  top: -10%;
  display: flex;
  gap: 7px;
  width: clamp(3vw, 329px, 19vw);
  list-style: none;
}
.qulmee .main-block .main-inner .catch {
  font-size: clamp(3vw, 68px, 4vw);
  font-weight: bold;
  color: #050000;
  letter-spacing: 0.1em;
  line-height: 1.8;
}
.qulmee .main-block .main-inner .catch strong {
  color: #60b5ff;
}
.qulmee .main-block .main-inner .btns {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 17px;
}
.qulmee .nav-qulmee {
  width: 95%;
  max-width: 1600px;
  border-radius: 10px;
  margin: -25px auto 0 auto;
  position: relative;
  z-index: 2;
  background-color: #60b5ff;
  display: flex;
  padding: 22px 40px;
  font-size: clamp(0.9vw, 18px, 1.2vw);
  gap: clamp(1vw, 20px, 2vw);
  justify-content: space-between;
  align-items: center;
}
.qulmee .nav-qulmee .logo {
  padding-top: 0;
  width: 9vw;
}
.qulmee .nav-qulmee ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50vw;
}
.qulmee .nav-qulmee ul li {
  list-style: none;
}
.qulmee .nav-qulmee ul li a {
  color: #fff;
  font-weight: bold;
}
.qulmee .nav-qulmee .btns {
  display: flex;
  width: 22vw;
  flex-shrink: 0;
  gap: 7px;
}
.qulmee .nav-qulmee .btns .u-button {
  width: clamp(7vw, 165px, 13vw);
  font-size: clamp(0.9vw, 16px, 1.2vw);
  padding: 0.5em 0;
}
.qulmee .main-block {
  color: red;
}
.qulmee .main-block {
  color: red;
}
.qulmee .main-block {
  color: red;
}
.qulmee .faq-block {
  padding: 190px 25px;
  background-color: #EBF6FD;
  color: #000000;
}
@media screen and (max-width: 767px) {
  .qulmee .faq-block {
    padding: 25.641025641vw 6.4102564103vw;
  }
}
.qulmee .faq-block .qa-list {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .qulmee .faq-block .qa-list {
    gap: 5.1282051282vw;
  }
}
.qulmee .faq-block .qa-list .qa-box {
  padding: 35px 120px 35px 110px;
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 2.2;
}
@media screen and (max-width: 767px) {
  .qulmee .faq-block .qa-list .qa-box {
    padding: 6.4102564103vw 10.2564102564vw;
    font-size: 3.5897435897vw;
  }
}
.qulmee .faq-block .qa-list .qa-box .q-item {
  position: relative;
  font-family: "Noto Sans JP";
}
.qulmee .faq-block .qa-list .qa-box .q-item::before {
  content: "Q";
  position: absolute;
  left: -60px;
  color: #0093FF;
}
@media screen and (max-width: 767px) {
  .qulmee .faq-block .qa-list .qa-box .q-item::before {
    font-size: 5.1282051282vw;
    top: -10%;
    left: -10%;
  }
}
.qulmee .faq-block .qa-list .qa-box .q-item::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 24px;
  mask-image: url(/assets/img/faq/icon-close.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: #EAEAEA;
  position: absolute;
  right: -60px;
  transform: rotate(90deg);
}
@media screen and (max-width: 767px) {
  .qulmee .faq-block .qa-list .qa-box .q-item::after {
    width: 3.3333333333vw;
    height: 7.6923076923vw;
    top: 0%;
    right: -7%;
  }
}
.qulmee .faq-block .qa-list .qa-box .a-item {
  display: none;
  margin-top: 40px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .qulmee .faq-block .qa-list .qa-box .a-item {
    margin-top: 10.2564102564vw;
  }
}
.qulmee .faq-block .qa-list .qa-box .a-item::before {
  content: "A";
  position: absolute;
  left: -60px;
  color: #F88F00;
}
@media screen and (max-width: 767px) {
  .qulmee .faq-block .qa-list .qa-box .a-item::before {
    font-size: 5.1282051282vw;
    top: -4%;
    left: -10%;
  }
}
.qulmee .faq-block .qa-list .open-qa {
  position: absolute;
  cursor: n-resize;
  opacity: 0;
}
.qulmee .faq-block #open-qa01:checked + label .a-item,
.qulmee .faq-block #open-qa02:checked + label .a-item,
.qulmee .faq-block #open-qa03:checked + label .a-item,
.qulmee .faq-block #open-qa04:checked + label .a-item,
.qulmee .faq-block #open-qa05:checked + label .a-item,
.qulmee .faq-block #open-qa06:checked + label .a-item,
.qulmee .faq-block #open-qa07:checked + label .a-item {
  display: block;
}
.qulmee .faq-block #open-qa01:checked + label .q-item::after,
.qulmee .faq-block #open-qa02:checked + label .q-item::after,
.qulmee .faq-block #open-qa03:checked + label .q-item::after,
.qulmee .faq-block #open-qa04:checked + label .q-item::after,
.qulmee .faq-block #open-qa05:checked + label .q-item::after,
.qulmee .faq-block #open-qa06:checked + label .q-item::after,
.qulmee .faq-block #open-qa07:checked + label .q-item::after {
  transform: rotate(270deg);
}
@media screen and (max-width: 767px) {
  .qulmee .faq-block #open-qa01:checked + label .q-item::after,
  .qulmee .faq-block #open-qa02:checked + label .q-item::after,
  .qulmee .faq-block #open-qa03:checked + label .q-item::after,
  .qulmee .faq-block #open-qa04:checked + label .q-item::after,
  .qulmee .faq-block #open-qa05:checked + label .q-item::after,
  .qulmee .faq-block #open-qa06:checked + label .q-item::after,
  .qulmee .faq-block #open-qa07:checked + label .q-item::after {
    right: -10%;
  }
}
.qulmee .faq-block dd {
  margin: 0;
}
.qulmee .main-block {
  color: red;
}
.qulmee .main-block {
  background-image: url("/assets/img/main/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.qulmee .main-block .main-inner {
  max-width: 1400px;
  margin: 0 auto;
  width: 85%;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 152px;
}
.qulmee .main-block .main-inner .text {
  width: 63%;
}
.qulmee .main-block .main-inner .text .logo {
  position: relative;
  left: -5%;
  top: -10%;
}
.qulmee .main-block .main-inner .img {
  width: 31.9285714286%;
  position: relative;
}
.qulmee .main-block .main-inner .img img {
  width: 100%;
  height: auto;
}
.qulmee .main-block .main-inner .img .badges {
  position: absolute;
  right: -7%;
  top: -10%;
  display: flex;
  gap: 7px;
  width: clamp(3vw, 329px, 19vw);
  list-style: none;
}
.qulmee .main-block .main-inner .catch {
  font-size: clamp(3vw, 68px, 4vw);
  font-weight: bold;
  color: #050000;
  letter-spacing: 0.1em;
  line-height: 1.8;
}
.qulmee .main-block .main-inner .catch strong {
  color: #60b5ff;
}
.qulmee .main-block .main-inner .btns {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 17px;
}
.qulmee .main-block {
  color: red;
}
.qulmee .main-block {
  color: red;
}
.qulmee .main-block {
  color: red;
}
.qulmee .main-block {
  color: red;
}
.qulmee .main-block {
  color: red;
}
.qulmee .trial-block .trial-wrap {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-color: beige;
}
@media screen and (max-width: 767px) {
  .qulmee .login {
    display: none;
  }
}
.qulmee li {
  list-style: none;
}
.qulmee .header {
  height: 60px;
  box-shadow: none;
}
@media screen and (max-width: 767px) {
  .qulmee .header {
    display: none;
  }
}
.qulmee .header .menuBtn {
  display: none;
}
.qulmee .header .gNav {
  display: none;
}
.qulmee h2.title {
  text-align: center;
  margin-bottom: 90px;
}
@media screen and (max-width: 767px) {
  .qulmee h2.title {
    margin-bottom: 15.3846153846vw;
  }
}
.qulmee h2.title .en {
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 900;
  color: #49b2f4;
  display: block;
}
@media screen and (max-width: 767px) {
  .qulmee h2.title .en {
    margin-bottom: 3.8461538462vw;
    font-size: 5.1282051282vw;
  }
}
.qulmee h2.title .en::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 18px;
  margin-right: 10px;
  mask-image: url("/assets/img/title-detail.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: #49b2f4;
}
@media screen and (max-width: 767px) {
  .qulmee h2.title .en::before {
    width: 6.4102564103vw;
    height: 4.6153846154vw;
  }
}
.qulmee h2.title .jp {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 44px;
  color: #050000;
}
@media screen and (max-width: 767px) {
  .qulmee h2.title .jp {
    font-size: 6.6666666667vw;
  }
}
.qulmee .u-button {
  display: flex;
  width: 292px;
  padding: 0.7em 0;
  font-size: 18px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  border: 3px solid #ff9149;
  background-color: #ff9149;
  color: #fff;
}
.qulmee .u-button.download {
  background-color: #fff;
  color: #ff9149;
}
.qulmee .u-button.white {
  border-color: #FFF;
  background-color: #FFF;
  color: #49b2f4;
  font-weight: bold;
}
.qulmee .u-button.bd {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
  font-weight: bold;
}/*# sourceMappingURL=qulmee2025.css.map */