<h2 class="title">
    <span class="en">FAQ</span>
    <span class="jp">よくあるお問い合わせ</span>
</h2>


<ul class="qa-list">
    <li>
        <input type="checkbox" name="" id="open-qa01" class="open-qa">
        <label for="open-qa01">
            <dl class="qa-box">
                <dt class="q-item">
                    どのような教材を登録できますか。
                </dt>
                <dd class="a-item">
教科書や副教材など、先生は任意の英文を登録・配信できます。また、スピーチ原稿など、生徒が作成した英文を生徒が教材として登録し、音読練習や提出することも可能です。
                </dd>
            </dl>
        </label>
    </li>
    <li>
        <input type="checkbox" name="" id="open-qa02" class="open-qa">
        <label for="open-qa02">
            <dl class="qa-box">
                <dt class="q-item">
                    AI発音チェックの発音判定エンジンは何を使用していますか。
                </dt>
                <dd class="a-item">Microsoft社のAzure AI servicesを使用しています。

                </dd>
            </dl>
        </label>
    </li>
    <li>
        <input type="checkbox" name="" id="open-qa03" class="open-qa">
        <label for="open-qa03">
            <dl class="qa-box">
                <dt class="q-item">
                    AI文法チェックの添削エンジンは何を使用していますか。
                </dt>
                <dd class="a-item">Open AI社のChatGPTを使用しています。

                </dd>
            </dl>
        </label>
    </li>
    <li>
        <input type="checkbox" name="" id="open-qa04" class="open-qa">
        <label for="open-qa04">
            <dl class="qa-box">
                <dt class="q-item">
                    AI文法チェックとはどのような機能ですか。
                </dt>
                <dd class="a-item">生徒が書いた英文に対して、生成AIが文法的に誤った部分を指摘し、修正のヒントを表示する機能です。AIのフィードバックは常に正確であるとは限りません。そのため、AI文法チェックの画面では、初級英和辞書で単語やその使い方を検索できる機能があります。生徒は必要に応じて辞書を確認しながら、正しい英文に修正します。AI文法チェック機能は、生徒がAIのフィードバックを適切に判断し、校正を重ねて自力で英文を書けることに主眼をおいた機能です。詳しくはトライアルにてお確かめください。

                </dd>
            </dl>
        </label>
    </li>
    <li>
        <input type="checkbox" name="" id="open-qa05" class="open-qa">
        <label for="open-qa05">
            <dl class="qa-box">
                <dt class="q-item">
                    トライアルに申し込みたいのですが、何人まで利用可能ですか。
                </dt>
                <dd class="a-item">トライアルの利用人数に制限はございません。

                </dd>
            </dl>
        </label>
    </li>
    <li>
        <input type="checkbox" name="" id="open-qa06" class="open-qa">
        <label for="open-qa06">
            <dl class="qa-box">
                <dt class="q-item">
                    利用できるOSを教えてください。
                </dt>
                <dd class="a-item">音読アプリQulmeeはWeb上で利用する教材ですので、OSを問わずご利用可能です。

                </dd>
            </dl>
        </label>
    </li>
    <li>
        <input type="checkbox" name="" id="open-qa07" class="open-qa">
        <label for="open-qa07">
            <dl class="qa-box">
                <dt class="q-item">
                    動作環境を教えてください。
                </dt>
                <dd class="a-item">以下の環境でのご利用を推奨しています。ブラウザはセキュリティを保つために常に最新版を利用することを推奨します。バージョンが古いブラウザでは利用できない場合があります。<br>・iOS： Safari <br>・ Android：Google Chrome<br>・Windows：Edge（Chromium版） <br>・Chrome OS：Google Chrome <br>・MacOS：Safari 12.4以降

                </dd>
            </dl>
        </label>
    </li>
</ul>