<h2 class="title">
    <span class="en">FAQ</span>
    <span class="jp">よくあるお問い合わせ</span>
</h2>


<ul class="qa-list">
    <li>
        <input type="checkbox" name="" id="open-qa01" class="open-qa">
        <label for="open-qa01">
            <dl class="qa-box">
                <dt class="q-item">
                    どのような教材を登録できますか。
                </dt>
                <dd class="a-item">
                    教科書や副教材など、先生は任意の英文を登録・配信できます。また、スピーチ原稿など、生徒が作成した英文を生徒が教材として登録し、音読練習や提出することも可能です。
                </dd>
            </dl>
        </label>
    </li>
    <li>
        <input type="checkbox" name="" id="open-qa02" class="open-qa">
        <label for="open-qa02">
            <dl class="qa-box">
                <dt class="q-item">
                    AI発音チェックの発音判定エンジンは何を使用していますか。
                </dt>
                <dd class="a-item">
                    xxxxxxx
                </dd>
            </dl>
        </label>
    </li>
    <li>
        <input type="checkbox" name="" id="open-qa03" class="open-qa">
        <label for="open-qa03">
            <dl class="qa-box">
                <dt class="q-item">
                    AI文法チェックの添削エンジンは何を使用していますか。
                </dt>
                <dd class="a-item">
                    xxxxxxx
                </dd>
            </dl>
        </label>
    </li>
    <li>
        <input type="checkbox" name="" id="open-qa04" class="open-qa">
        <label for="open-qa04">
            <dl class="qa-box">
                <dt class="q-item">
                    AI文法チェックとはどのような機能ですか。
                </dt>
                <dd class="a-item">
                    xxxxxxx
                </dd>
            </dl>
        </label>
    </li>
    <li>
        <input type="checkbox" name="" id="open-qa05" class="open-qa">
        <label for="open-qa05">
            <dl class="qa-box">
                <dt class="q-item">
                    トライアルに申し込みたいのですが、何人まで利用可能ですか。
                </dt>
                <dd class="a-item">
                    xxxxxxx
                </dd>
            </dl>
        </label>
    </li>
    <li>
        <input type="checkbox" name="" id="open-qa06" class="open-qa">
        <label for="open-qa06">
            <dl class="qa-box">
                <dt class="q-item">
                    利用できるOSを教えてください。
                </dt>
                <dd class="a-item">
                    xxxxxxx
                </dd>
            </dl>
        </label>
    </li>
    <li>
        <input type="checkbox" name="" id="open-qa07" class="open-qa">
        <label for="open-qa07">
            <dl class="qa-box">
                <dt class="q-item">
                    動作環境を教えてください。
                </dt>
                <dd class="a-item">
                    xxxxxxx
                </dd>
            </dl>
        </label>
    </li>
</ul>