<h2 class="title">
    <span class="en">Flow</span>
    <span class="jp">導入の流れ・サポート</span>
</h2>
<ul class="step-ul">
    <li class="step-li">
        <p class="title">お問合せ</p>
        <p class="text">当HPよりお問合せください。​</p>
        <img src="/assets/img/flow/border.png" alt="" class="border-img">
        <img src="/assets/img/flow/border-sp.png" alt="" class="border-sp-img">
        <img src="/assets/img/flow/no01.png" alt="" class="no01-img">
    </li>
    <li class="step-li">
        <p class="title">製品案内</p>
        <p class="text">機能や操作方法についてご案内いたします。</p>
        <img src="/assets/img/flow/border.png" alt="" class="border-img">
        <img src="/assets/img/flow/border-sp.png" alt="" class="border-sp-img">
        <img src="/assets/img/flow/no02.png" alt="" class="no02-img">
    </li>
    <li class="step-li">
        <p class="title">無料トライアル</p>
        <p class="text">ご希望があれば、アカウント登録等の初回設定を弊社でサポートします。​</p>
        <img src="/assets/img/flow/border.png" alt="" class="border-img">
        <img src="/assets/img/flow/border-sp.png" alt="" class="border-sp-img">
        <img src="/assets/img/flow/no03.png" alt="" class="no03-img">
    </li>
    <li class="step-li">
        <p class="title">導入</p>
        <p class="text">導入後は、トライアル中のアカウント・教材を継続してご利用可能です。​</p>
        <img src="/assets/img/flow/border.png" alt="" class="border-img">
        <img src="/assets/img/flow/border-sp.png" alt="" class="border-sp-img">
        <img src="/assets/img/flow/no04.png" alt="" class="no04-img">
    </li>
    <li class="step-li">
        <p class="title">定着</p>
        <p class="text">一度登録した教材は、翌年度以降も繰り返し課題として配信が可能です。​</p>
        <img src="/assets/img/flow/no05.png" alt="" class="no05-img">
    </li>
</ul>