<footer>
    <div class="head">
        <div class="logo">
            <img src="{{imagePath}}/logo.svg" alt="">
        </div>
        <p>事業計画書作成から顧客応対管理まで<br>サブスクで自動化「スタサポ」</p>
    </div>
    <ul class="sns">
        <li>
            <a href="#"><img src="{{imagePath}}/sns_youtube.svg" alt=""></a>
        </li>
        <li>
            <a href="#"><img src="{{imagePath}}/sns_x.svg" alt=""></a>
        </li>
        <li>
            <a href="#"><img src="{{imagePath}}/sns_bb.svg" alt=""></a>
        </li>
        <li>
            <a href="#"><img src="{{imagePath}}/sns_line.svg" alt=""></a>
        </li>
        <li>
            <a href="#"><img src="{{imagePath}}/sns_li.svg" alt=""></a>
        </li>
    </ul>
    <ul class="links">
        <li><a href="#">プライバシーポリシー</a></li>
        <li><a href="#">セキュリティーポリシー</a></li>
    </ul>
    <p class="copyright">© Copyright 2024 Start-Up-Supporter All Rights Reserved.</p>
</footer>