<header class="l-header">
  <h1 class="logo"><img src="{{imagePath}}/logo.svg" alt=""><span>事業計画書作成から顧客応対管理まで<br>
      サブスクで自動化「スタサポ」</span></h1>
  <div class="menu">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <nav>
    <ul class="parents">
      <li class="parent">
        <a href="#" class="disabled">特徴・使い方</a>
      </li>
      <li class="parent">
        <a href="#" class="disabled">導入事例</a>
      </li>
      <li class="parent">
        <a href="#" class="disabled">お知らせ</a>
      </li>
      <li class="buttons">
        <a href="#" class="contact btn">お問い合わせ</a>
      </li>
      <li class="">
        <a href="#" class="download btn">資料ダウンロード</a>
      </li>


      <!-- <li class="parent">
        <span class="toggle">XXXX</span>
        <ul class="child">
          <li><a href="">XXXX</a></li>
          <li><a href="">XXXX</a></li>

        </ul>
      </li> -->
    </ul>
  </nav>
</header>