<div class="main-inner">
  <h1><img src="{{imagePath}}/main/logo.svg" alt=""></h1>
  <p>生徒の<strong>音読学習</strong>を楽しく、 先生の<strong>音読指導</strong>を簡単に。</p>
  <div class="img">
    <img src="{{imagePath}}/main/kv.png" alt="">
    <ul class="txt">
      <li><img src="{{imagePath}}/main/txt1.svg" alt=""></li>
      <li><img src="{{imagePath}}/main/txt2.svg" alt=""></li>
    </ul>
  </div>
  <div class="btns">
    <a href="" class="u-button ">無料トライアル</a>
    <a href="" class="u-button download">資料ダウンロード</a>
  </div>
</div>