<div class="main-inner">
  <div class="text">
    <h1 class="logo"><img src="{{imagePath}}/main/logo.svg" alt=""></h1>
    <p class="catch">生徒の<strong>音読学習</strong>を楽しく、 <br>先生の<strong>音読指導</strong>を簡単に。</p>
    <div class="btns">
      <a href="" class="u-button ">無料トライアル</a>
      <a href="" class="u-button download">資料ダウンロード</a>
    </div>
  </div>
  <div class="img">
    <img src="{{imagePath}}/main/kv.png" alt="">
    <ul class="badges">
      <li><img src="{{imagePath}}/main/txt1.svg" alt=""></li>
      <li><img src="{{imagePath}}/main/txt2.svg" alt=""></li>
    </ul>
  </div>
</div>