<section class="teacher">
  <div class="inner">
    <h2 class="title">
      <div class="txt">
        <span class="en">Teacher</span>
        <span class="jp">先生のメリット</span>
      </div>
      <img src="{{imagePath}}/merit/teacher.svg" alt="">
    </h2>
    <ul class="merit-list">
      <li>
        <picture><img src="{{imagePath}}/merit/teacher-ph1.png" alt=""></picture>
        <dl>
          <dt>英文を自由に登録</dt>
          <dd>教科書や副教材から任意の英文を登録し、配信​。 次年度にも活用可能できます！ </dd>
        </dl>
      </li>
      <li>
        <picture><img src="{{imagePath}}/merit/teacher-ph2.png" alt=""></picture>
        <dl>
          <dt>豊富なモデル音声</dt>
          <dd>登録した英文を豊富なモデル音声が読み上げます。先生のスピーキング指導を効率化！</dd>
        </dl>
      </li>
      <li>
        <picture><img src="{{imagePath}}/merit/teacher-ph3.png" alt=""></picture>
        <dl>
          <dt>正しい発音をAIが判定</dt>
          <dd>生徒から提出された音声を、AIが発音チェック。家庭学習でも音素ごとの発音練習ができます！​</dd>
        </dl>
      </li>
      <li>
        <picture><img src="{{imagePath}}/merit/teacher-ph4.png" alt=""></picture>
        <dl>
          <dt>先生からのコメントを自動生成</dt>
          <dd>練習回数や発音判定からコメントを生成。 先生の負担を減らしつつ、生徒のやる気を高めます。 </dd>
        </dl>
      </li>
    </ul>
  </div>
</section>
<section class="student">
  <div class="inner">
    <h2 class="title">
      <div class="txt">
      <span class="en">Student</span>
      <span class="jp">生徒のメリット</span></div>
      <img src="{{imagePath}}/merit/student.svg" alt="">
    </h2>
    <ul class="merit-list">
      <li>
        <picture><img src="{{imagePath}}/merit/student-ph1.png" alt=""></picture>
        <dl>
          <dt>多様な音読練習方法</dt>
          <dd>Listen&Repeatやオーバーラッピング等、多様な音読練習が可能です。自分にあった音読練習を選べます。</dd>
        </dl>
      </li>
      <li>
        <picture><img src="{{imagePath}}/merit/student-ph2.png" alt=""></picture>
        <dl>
          <dt>AIが改善点を提案</dt>
          <dd>AIが発音をチェックし、口形など発音のポイントをフィードバック。個々に応じた発音指導を実現します</dd>
        </dl>
      </li>
      <li>
        <picture><img src="{{imagePath}}/merit/student-ph3.png" alt=""></picture>
        <dl>
          <dt>カメラで英文を読取り＆登録​</dt>
          <dd>自己学習機能では、教科書や手書きの英文をカメラで読取り、音読練習ができます。​ <span class="small">＊スタンダードプランのみ</span></dd>
        </dl>
      </li>
      <li>
        <picture><img src="{{imagePath}}/merit/student-ph4.png" alt=""></picture>
        <dl>
          <dt>生徒のライティングをAIが文法チェック</dt>
          <dd>自己学習機能に生徒が入力した英文に対し、AIがスペルと文法の修正を提案。単語の意味や使い方を内蔵の辞書で確認し、生徒は正しい英文に修正してから音読学習ができます。<span class="small">＊スタンダードプランのみ</span></dd>
        </dl>
      </li>
    </ul>
  </div>
</section>