<div class="news-inner">
    <h2 class="title">
        <span class="en">News</span>
        <span class="jp">おしらせ</span>
    </h2>
    <ul class="news-content">
        <li class="item">
            <picture>
                <img src="https://dummyimage.com/600x400/000/fff" alt="">
            </picture>
            <div class="text">
                <p class="date">2023.10.01</p>
                <p class="description">This is a brief description of the news item. It provides an overview of the content.</p>
            </div>
        </li>
        <li class="item">
            <picture>
                <img src="https://dummyimage.com/600x400/000/fff" alt="">
            </picture>
            <div class="text">
                <p class="date">2023.10.01</p>
                <p class="description">This is a brief description of the news item. It provides an overview of the content.</p>
            </div>
        </li>
    </ul>
</div>