<h2 class="title">
    <span class="en">Price</span>
    <span class="jp">導入価格</span>
</h2>
<ul class="plan-ul">
    <li class="plan-li">
        <p class="entry">エントリープラン</p>
        <dl class="plan-dl">
            <dt class="year">1年</dt>
            <dd class="enn">2860円</dd>
            <dt class="year">1年</dt>
            <dd class="enn">2860円</dd>
        </dl>
        <table class="plan-table">
            <tr>
                <th class="th01">教材登録・配信​</th>
                <td class="td01">〇</td>
            </tr>
            <tr>
                <th>モデル音声の生成</th>
                <td>〇</td>
            </tr>
        </table>
    </li>
    <li class="plan-li">
        <p class="standard">スタンダードプラン</p>
    </li>
</ul>