<h2 class="title">
    <span class="en">Price</span>
    <span class="jp">導入価格</span>
</h2>
<ul class="plan-ul">
    <li class="plan-li pc-only">
        <p class="entry">エントリープラン</p>
        <dl class="plan-dl no01">
            <dt class="year">1年</dt>
            <dd class="enn">2,860円</dd>
        </dl>
        <dl class="plan-dl no02">
            <dt class="year">3年</dt>
            <dd class="enn"></dd>
        </dl>
        <table class="plan-table">
            <tr>
                <th class="th01">教材登録・配信​</th>
                <td class="td01">〇</td>
            </tr>
            <tr>
                <th>モデル音声の生成</th>
                <td>〇</td>
            </tr>
            <tr>
                <th>多様な練習メニュー​</th>
                <td>〇</td>
            </tr>
            <tr>
                <th>生徒自作の英文で練習​</th>
                <td>〇</td>
            </tr>
            <tr>
                <th>AI発音チェック</th>
                <td>〇</td>
            </tr>
            <tr>
                <th>AI発音チェックを評価に反映​</th>
                <td>〇</td>
            </tr>
            <tr>
                <th>評価や改善点の自動生成​</th>
                <td>〇</td>
            </tr>
            <tr>
                <th>先生からのコメントを自動作成</th>
                <td>-</td>
            </tr>
            <tr>
                <th>カメラで英文を読取り</th>
                <td>-</td>
            </tr>
            <tr>
                <th>AI文法チェック</th>
                <td>-</td>
            </tr>
            <tr>
                <th>自己学習機能の辞書表示</th>
                <td>-</td>
            </tr>
        </table>
    </li>
    <li class="plan-li">
        <p class="standard">スタンダードプラン</p>
        <ul class="entry-standard">
            <li class="entry-sp">エントリープラン</li>
            <li class="standard-sp">スタンダードプラン</li>
        </ul>
        <dl class="plan-dl no01">
            <dt class="year">
                <span class="pc">1年</span>
                <div class="plan-sp">
                    <span class="year-sp">1年</span>
                    <span class="enn-sp">2,860円</span>
                </div>
            </dt>
            <dd class="enn">
                <span class="pc">3,960円</span>
                <div class="plan-sp">
                    <span class="year-sp">1年</span>
                    <span class="enn-sp">2,860円</span>
                </div>
            </dd>
        </dl>
        <dl class="plan-dl no02">
            <dt class="year">
                <span class="pc">3年</span>
                <div class="plan-sp">
                    <span class="year-sp">3年</span>
                    <span class="enn-sp">2,860円</span>
                </div>
            </dt>
            <dd class="enn">
                <div class="plan-sp">
                    <span class="year-sp">3年</span>
                    <span class="enn-sp">2,860円</span>
                </div>
            </dd>
        </dl>
        <table class="plan-table">
            <tr>
                <th class="th01">教材登録・配信​</th>
                <td class="td01">〇<span class="sp">〇</span></td>
            </tr>
            <tr>
                <th>モデル音声の生成</th>
                <td>〇<span class="sp">〇</span></td>
            </tr>
            <tr>
                <th>多様な練習メニュー​</th>
                <td>〇<span class="sp">〇</span></td>
            </tr>
            <tr>
                <th>生徒自作の英文で練習​</th>
                <td>〇<span class="sp">〇</span></td>
            </tr>
            <tr>
                <th>AI発音チェック</th>
                <td>〇<span class="sp">〇</span></td>
            </tr>
            <tr>
                <th>AI発音チェックを評価に反映​</th>
                <td>〇<span class="sp">〇</span></td>
            </tr>
            <tr>
                <th>評価や改善点の自動生成​</th>
                <td>〇<span class="sp">〇</span></td>
            </tr>
            <tr>
                <th>先生からのコメントを自動作成</th>
                <td><span class="sp">–</span>〇</td>
            </tr>
            <tr>
                <th>カメラで英文を読取り</th>
                <td><span class="sp">–</span>〇</td>
            </tr>
            <tr>
                <th>AI文法チェック</th>
                <td><span class="sp">–</span>〇</td>
            </tr>
            <tr>
                <th>自己学習機能の辞書表示</th>
                <td><span class="sp">–</span>〇</td>
            </tr>
        </table>
    </li>
</ul>