<div class="trial-wrap">
    <figure class="pc-img">
        <img src="/assets/img/trial/pc.png" alt="FREE">
    </figure>
    <div class="trial-contents">
        <h2 class="main-title">トライアルのご案内</h2>
        <p class="text">
            先生方も、生徒のみなさんも、<br>無料でお試しいただけます。
        </p>
        <ul class="explanation-ul">
            <li class="explanation-li">
                <dl class="explanation-group">
                    <dt>対象</dt>
                    <dd>１クラス〜全学年<br><span class="annotation">ご利用人数は問いません。</span></dd>
                </dl>
            </li>
            <li class="explanation-li">
                <dl class="explanation-group">
                    <dt>期間</dt>
                    <dd>任意の４ヶ月間<br><span class="annotation">課題配信から評価までをお試しください。​</span></dd>
                </dl>
            </li>
        </ul>
        <a href="" class="u-button ">まずはお試しください</a>
    </div>
</div>